.animals {
  float: left;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  
}
 


li {font-weight: bold;}

.centered {
  text-align: center;
  color: blue

}

img {
  width: 300px;
  height: 200px;
  margin-top: 10px;
}

#italic {
  font-style: italic;
}

#russel {
  color: red;
}